{% extends "layout.html" %} {% block title %} Add User {% endblock %} {% block
  head %} {{ super() }}
  <style type="text/css">
    .alltext {
      color: #336699;
    }
  </style>
  {% endblock %}
  {% block content %}
  &nbsp;<h2>Add A User</h2>
  <!-- FORM THAT INCLUDES 3 FIELDS -->
  <form action = "" method = "POST"><br>
      <input required name="user_name" type="text" placeholder="User Name" maxlength = "25"><br><br>
      <input required name="city" type="text"  placeholder="City" maxlength = "25"><br><br>
      <input required name="age" type="number"  placeholder="Age" min = "1" max = "120"><br><br>
      <button class="btn btn-success" type="submit" >Add user</button>
  </form><br><br>
  {% endblock %}
  