{% extends "layout.html" %} {% block title %} Loan Book {% endblock %} {% block
  head %} {{ super() }}
  <style type="text/css">
    .alltext {
      color: #336699;
    }
  </style>
  {% endblock %}
  {% block content %}
  &nbsp;<h2>Loan A Book</h2>
  <!-- FORM THAT INCLUDES 2 FIELDS -->
  <form action="{{ url_for('loans.Loan_add') }}" method="POST"><br>
    <div class="form-group">
    <input required type="text" name="user_id" placeholder = "User ID"><br><br>
    <input required type="text" name="book_id" placeholder = "Book ID"><br><br>
    <button class="btn btn-success" type="submit" onclickvalue="Submit">Confirm</button></div>
  </form><br><br>
  {% endblock %}
  